@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* =========Global Styles=========== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}





/*=======Utility Classes =======*/

.bold {
    font-weight: 100;
}

.sup {
    font-size: 0.5rem;
}

.dash,
.set,
.members,
.visits {
    width: 40px;
}

.divider {
    height: 2rem;
    border-left: 1px solid rgba(77, 76, 76, 0.986);
    margin: 0 10px;
}

.active-line {
    position: absolute;
    top: -17.5px;
    left: -6px;
    height: 3px;
    width: 53px;
    background: #85E07C;
    border-radius: 0 3px 3px 0;
}

/*======== Grid Styles ===========*/
.grid-container {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.header {
    grid-area: header;
}

.nav {
    grid-area: navigation;
}

.main {
    grid-area: main;
}





/*====== Header ======*/

.header {
    background: #7477BF;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    width: 100%;
    padding: 0.5rem;
}

.header .notification-bell {
    height: 20px;
    transition: transform ease-in;

}

.notification-bell:hover {
    cursor: pointer;
    transform: rotate(10deg);
}

.header .user-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.header .logo {
    margin-left: 1.2rem;
    font-size: 1.1rem
}

.notification-area,
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 9.5rem;
}

.user-img,
.user-name {
    margin-right: 1.1rem;
    display: inline-flex;

}

/*======= Navigation =======*/

.nav {
    background: #4D4C72;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 79px;
}

.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    position: relative;
}

.main {
    display: grid;
}


/*========== Main ========= */



@media (min-width: 768px) {
    .grid-container {
        display: grid;
        height: 100vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.09fr 1.5fr;
        grid-template-areas:
            "header header"
            "navigation main";
    }

    .header {
        grid-area: header;
    }

    .nav {
        grid-area: navigation;
        height: 100%;
        width: 4.7rem;
        display: inline-block;
    }

    
     .links {
        display: block;
        text-align: center;
    }

    .links .nav-link img {
        padding-top: 2.3rem;
    }

    .active-line {
        position: absolute;
        top: 28px;
        left: -1px;
        height: 53px;
        width: 3px;
        background: #85E07C;
        border-radius: 0 3px 3px 0;
    }

    .title-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

    



@media (min-width: 1024px) {
    grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.1fr 1.5fr;
        grid-template-areas:
            "header header"
            "navigation main";
    }

    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
    }

    .nav {
        grid-area: navigation;
        height: 100%;
        width: 4.7rem;
        display: inline-block;
    }

    .links {
        display: block;
        text-align: center;
    }

    .links .nav-link img {
        padding-top: 2.3rem;
    }

    .active-line {
        position: absolute;
        top: 28px;
        left: -1px;
        height: 53px;
        width: 3px;
        background: #85E07C;
        border-radius: 0 3px 3px 0;
    }
}