@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* =========Global Styles=========== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}



a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

input[type='text'] {
    text-align: center;
}

.social-image {
    display: flex;
    align-items: center;
    background: #7377BF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 30px;

}

#Layer_1 {
    width: 40px;
    height: 40px;
}

/*=======Utility Classes =======*/

.bold {
    font-weight: 100;
}

.sup {
    font-size: 0.5rem;
}

.dash,
.set,
.members,
.visits {
    width: 40px;
}

.divider {
    height: 2rem;
    border-left: 1px solid rgba(77, 76, 76, 0.986);
    margin: 0 10px;
}

.active-line {
    position: absolute;
    top: -17.5px;
    left: -6px;
    height: 3px;
    width: 53px;
    background: #85E07C;
    border-radius: 0 3px 3px 0;
}


    /*======== Grid Styles ===========*/
.grid-container {
    display: grid;
    
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.header {
    grid-area: header;
}

.nav {
    grid-area: navigation;
}

.main {
    grid-area: main;
}

canvas {
    padding: 8px;
}


/*====== Header ======*/

.header {
    background: #7477BF;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    width: 100%;
    padding: 0.5rem;
}

.notification-area {
    position: relative;
}

.bell-alert {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #85E07C;
    top: -3px;
    left: 12px;
}

.header .notification-bell {
    height: 20px;
    transition: transform ease-in;

}

.notification-bell:hover {
    cursor: pointer;
    transform: rotate(10deg);
}

.header .user-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.header .logo {
    margin-left: 1.2rem;
    font-size: 1.1rem
}

.notification-area,
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 9.5rem;
}

.user-img,
.user-name {
    margin-right: 1.1rem;
    display: inline-flex;

}

/*======= Navigation =======*/

.nav {
    background: #4D4C72;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 79px;
}

.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
    position: relative;
}

.active{
    background-color: #85E07C;
    border-radius: 15px;
    padding: 0 9px;
    color: #fff;
}




/*========== Main ========= */
.title-search {
    padding: 1rem 0;
}

.title {
    margin-left: 0.7rem;
}

.title h2 {
    text-align: center;
}

.search {
    display: flex;
    position: relative;
    padding: 0 1rem;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ddd;
    margin: auto 0;
}

.search input {
    width: 100%;
    font-weight: 600;
    height: 45px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.traffic-header h3 {
    padding: 1rem;
    text-align: center;
}

.traffic-nav {
    display: flex;
    justify-content: space-evenly;
}

/*====== Alert Banner Mobile =====*/
.alert-banner {
    margin: 15px;
    margin-bottom: 9px;
    padding: 15px;
    height: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;
    background-color: #7377BF;
}



.daily h3,
.mobile h3 {
    padding: 1rem;
    text-align: center;
}

/* =========== Social Section For Mobile=========== */
.social-container {
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    padding: 1.5rem;
}

.social-heading {
    margin-top: 2rem;
    font-weight: 200;
    text-align: center;
}

.social-card {
    display: inline-flex;
    align-items: center;
    padding: 15px;
    background-color: #FBFBFB;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.social-card .t-icon {
    fill: #fff;
}

.social-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7377BF;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 30px;
    transition: transform 0.5s ease-in-out;
}

.social-image:hover {
    transform: scale(1.1);
}

.social-text {
    font-size: 1.4rem;
}

.social-text .social-title {
    color: #7377BF;
}

/*========= New Members & Recent Activity Section ===============*/
#members-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 0.5fr));*/
    grid-template-columns: 100%;
    margin-top: 1.9rem;
    gap: 1px;
    border-top: 1px solid #ddd;
}

.column-left {
    border-right: 1px solid #ddd;
    overflow: hidden;
}

.column-left h3 {
    margin-top: 1rem;
    text-align: center;
}

.members-container {
    padding-bottom: 15px;
    margin-top: 1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    height: 80px;
}

.members-container .profile-image {
    border-radius: 50%;
    height: 35px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.members-text {
    width: 80%;
    color: #333;
}

.sub-text {
    display: none;
}


.column-right h3 {
    margin-top: 1.1rem;
    text-align: center;
}

.recent-container {
    padding-bottom: 15px;
    margin-top: 1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    height: 80px;
}

.recent-container .profile-image {
    border-radius: 50%;
    height: 35px;
    margin-right: 1rem;
    margin-left: 1rem;
}

/*====== Message Section =========*/
.message h3 {
    margin-top: 1.1rem;
    text-align: center;
}

.user-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 18px;
}

.user-form .form-field {
    padding: 0.8rem;
    margin: 1.2rem 0;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
}

.user-form .form-area {
    padding: 2.1rem;
    text-align: left;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.user-form .button-primary {
    background-color: #7377BF;
    color: #fff;
    padding: 1.1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

/*======Recent Section=======*/
#settings {
    padding-bottom: 1.2rem;
}

#settings h3 {
    padding: 0.9rem;
    text-align: center;
    margin-bottom: 1rem;
}

#settings .container {
    margin: 0 1.9rem;
}

.switch-light {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.switch-light:first-of-type {
    margin-bottom: 1rem;
}

.switch-material.switch-light {
    overflow: visible;
}

.switch-material.switch-light::after {
    clear: both;
    content: '';
    display: table;
}

.switch-light::after {
    clear: both;
    content: '';
    display: table;
}

.switch-light input {
    position: absolute;
    opacity: 0;
    z-index: 3;
}

.switch-material.switch-light>span {
    overflow: visible;
    position: relative;
    top: 0.1875em;
    width: 3.25em;
    height: 1.5em;
    min-height: auto;
    border-radius: 1em;
    background: rgba(0, 0, 0, 0.26);
}

.switch-light.switch-material a {
    top: -0.1875em;
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
    background: #fafafa;
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.14), 0 0.1875em 0.125em -0.125em rgba(0, 0, 0, 0.2), 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.12);
    transition: right 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.switch-light.switch-material p {
    margin-right: 1rem;
    ;
}

.switch-light a {
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 1;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0;
}

.switch-light a {
    display: block;
    transition: all 0.2s ease-out;
}

.switch-light.switch-material.switch-light input~span:before,
.switch-light.switch-material.switch-light input~span:after,
.switch-material.switch-toggle input+label:after {
    visibility: hidden;
}

.switch-light.switch-material>span:before,
.switch-light.switch-material>span:after,
.switch-toggle.switch-material label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 4em;
    height: 4em;
    border-radius: 100%;
    background: #3f51b5;
    opacity: .4;
    margin-left: -1.25em;
    margin-top: -1.25em;
    transform: scale(0);
    transition: opacity .4s ease-in;
}

.timezone-container {
    margin-top: 3rem;
}

.timezone-container .dropdown {
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    padding: 0.5rem;
    color: rgba(167, 154, 154, 0.808);
}

.setting-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;


}

.setting-buttons .purple-button {
    width: 50%;
    height: 3rem;
    border-radius: 5px;
    outline: none;
    border: none;
    color: rgb(218, 216, 216);
    background-color: #7377BF;
    cursor: pointer;
}

.setting-buttons .gray-button {
    width: 50%;
    height: 3rem;
    margin-left: 7px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-weight: 900;
    background-color: rgb(204, 197, 197);
    cursor: pointer;

}



@media (min-width: 768px) {
    .grid-container {
        display: grid;
       
        height: 100vh;
        grid-template-columns: 80px 1fr;
        grid-template-rows: 0.09fr 1.5fr;
        grid-template-areas:
            "header header"
            "navigation main";
    }

    .header {
        grid-area: header;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .nav {
        grid-area: navigation;
        height: 100%;
        width: 4.7rem;
        display: inline-block;

    }


    .links {
        display: block;
        text-align: center;
    }

    .links .nav-link img {
        padding-top: 2.3rem;
    }

    .active-line {
        position: absolute;
        top: 28px;
        left: -1px;
        height: 53px;
        width: 3px;
        background: #85E07C;
        border-radius: 0 3px 3px 0;
    }

    .title-search {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .title {
        display: flex;
        align-items: center;
        height: 70px;
        border-top-right-radius: 5px;
        background-color: #fff;
        border-right: 1px solid #ddd;
        padding: 0 30px;
    }

    .search {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #ddd;
        background: #FBFBFB;
        margin: auto 0;
    }

    .search input {
        width: 40%;
        padding: 1rem;
        margin-right: 1rem;
        border-radius: 20px;
        outline: rgb(145, 142, 142);
    }

    /*====== Line Graph Styles =======*/
    .traffic {
        padding: 0 30px;
    }

    .traffic-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0.7rem;

    }

    .traffic-header h3 {
        padding-top: 1rem;
        font-size: 1.3rem;
    }

    .traffic-nav {
        display: flex;
    }

    .traffic-nav .traffic-nav-link {
        padding: 0 1rem;
        font-size: 1.3rem;
    }

    /*============ Bar Chart =============*/
    .daily-mobile-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 0.5fr));
        padding: 1.1rem 1.1rem;
        margin-top: 1rem;

        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        gap: 1.1rem;
    }



    .mobile {
        border-left: 1px solid #ddd;
    }

    .daily h3,
    .mobile h3 {
        margin-left: 1rem;

    }



    /*====== Alert Banner =====*/
    .alert {
        margin: 1.7rem;
        cursor: pointer;
    }

    .alert-banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #7377BF;
        color: #fff;
        padding: 0.5rem 3rem;
        border-radius: 5px;
        font-size: 1.2rem;
    }

    /* =========== Social Section =========== */
    .social-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 2.5rem;
    }

    .social-heading {
        padding: 1.7rem;
        font-weight: 200;
    }

    .social-card {
        display: inline-flex;
        align-items: center;
        padding: 15px;
        background-color: #FBFBFB;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .social-card .t-icon {
        fill: #fff;
    }

    .social-image {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #7377BF;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: 30px;
    }

    .social-text {
        font-size: 1.4rem;
    }

    .social-text .social-title {
        color: #7377BF;
    }

    /*========= New Members & Recent Activity Section ===============*/
    #members-grid {
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(320px, 0.5fr));*/
        grid-template-columns: 1fr 1fr;
        margin-top: 1.9rem;
        gap: 1px;
        border-top: 1px solid #ddd;
    }

    .column-left {
        padding: 2rem;
        border-right: 1px solid #ddd;
        ;
    }

    .column-left h2 {
        margin-bottom: 2rem;
    }

    .members-container {
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        height: 80px;

    }

    .members-container .profile-image {
        border-radius: 50%;
        height: 35px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .members-text {
        width: 80%;
        color: #333;
    }

    

    .column-right {
        padding: 2rem;
    }

    .column-right h2 {
        margin-bottom: 2rem;
    }

    .recent-container {
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        height: 80px;
    }

    .recent-container .profile-image {
        border-radius: 50%;
        height: 35px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    /*====== Message Section =========*/
    .message h3 {
        margin-top: 1.1rem;
    }

    .user-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .user-form .form-field {
        padding: 0.8rem;
        margin: 1.2rem 0;
        outline: none;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: left;
    }

    .user-form .form-area {
        padding: 2.1rem;
        text-align: left;
        outline: none;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    .user-form .button-primary {
        background-color: #7377BF;
        color: #fff;
        padding: 1.1rem;
        border-radius: 5px;
    }

    /*======Recent Section for Tablets=======*/
    #settings h3 {
        padding: 0.9rem;
    }

    #settings .container {
        margin: 0 1.9rem;
    }

    .switch-light {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }

    .switch-light:first-of-type {
        margin-bottom: 1rem;
    }

    .switch-material.switch-light {
        overflow: visible;
    }

    .switch-material.switch-light::after {
        clear: both;
        content: '';
        display: table;
    }

    .switch-light::after {
        clear: both;
        content: '';
        display: table;
    }

    .switch-light input {
        position: absolute;
        opacity: 0;
        z-index: 3;
    }

    .switch-material.switch-light>span {
        overflow: visible;
        position: relative;
        top: 0.1875em;
        width: 3.25em;
        height: 1.5em;
        min-height: auto;
        border-radius: 1em;
        background: rgba(0, 0, 0, 0.26);
    }

    .switch-light.switch-material a {
        top: -0.1875em;
        width: 1.75em;
        height: 1.75em;
        border-radius: 50%;
        background: #fafafa;
        box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.14), 0 0.1875em 0.125em -0.125em rgba(0, 0, 0, 0.2), 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.12);
        transition: right 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .switch-light a {
        position: absolute;
        right: 50%;
        top: 0;
        z-index: 1;
        display: block;
        width: 50%;
        height: 100%;
        padding: 0;
    }

    .switch-light a {
        display: block;
        transition: all 0.2s ease-out;
    }

    .switch-light.switch-material.switch-light input~span:before,
    .switch-light.switch-material.switch-light input~span:after,
    .switch-material.switch-toggle input+label:after {
        visibility: hidden;
    }

    .switch-light.switch-material>span:before,
    .switch-light.switch-material>span:after,
    .switch-toggle.switch-material label:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: block;
        width: 4em;
        height: 4em;
        border-radius: 100%;
        background: #3f51b5;
        opacity: .4;
        margin-left: -1.25em;
        margin-top: -1.25em;
        transform: scale(0);
        transition: opacity .4s ease-in;
        align-items: center;
    }

    .switch-material.switch-light input:checked ~ span {
        background: rgba(63, 81, 181, 0.5)
    }

    .switch-material.switch-light input:checked ~ span a {
        right: 0;
        background: #3f51b5;
    }

    .toggle-switch {
        margin-left: 2rem;
    }

    .timezone-container {
        margin-top: 3rem;
    }

    .timezone-container .dropdown {
        width: 100%;
        outline: none;
        border: 1px solid #ddd;
        padding: 0.5rem;
        color: rgba(167, 154, 154, 0.808);
    }

    .setting-buttons {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;


    }

    .setting-buttons .purple-button {
        width: 50%;
        height: 3rem;
        border-radius: 5px;
        outline: none;
        border: none;
        color: rgb(218, 216, 216);
        background-color: #7377BF;
        cursor: pointer;
    }

    .setting-buttons .gray-button {
        width: 50%;
        height: 3rem;
        margin-left: 7px;
        border: none;
        border-radius: 5px;
        outline: none;
        color: #fff;
        font-weight: 900;
        background-color: rgb(204, 197, 197);
        cursor: pointer;
    }
}





@media (min-width: 1280px) {
    grid-container {
        display: grid;
       
        grid-template-columns: 55px 1fr;
        /* grid-template-rows: 0.1fr 1.5fr;*/
        grid-template-areas:
            "header header"
            "navigation main";
    }

    .header {
        grid-area: header;
        position: sticky;
    }

    .main {
        grid-area: main;
    }

    .nav {
        grid-area: navigation;
        height: 100%;
        width: 4.7rem;
        display: inline-block;
    }

    .links {
        display: block;
        text-align: center;
    }

    .links .nav-link img {
        padding-top: 2.3rem;
    }

    .active-line {
        position: absolute;
        top: 28px;
        left: -1px;
        height: 53px;
        width: 3px;
        background: #85E07C;
        border-radius: 0 3px 3px 0;
    }

    /* =========== Social Section =========== */
    .social-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(291px, 0.5fr));
        gap: 2rem;
        padding: 2.5rem;
    }

    .social-heading {
        padding: 1.7rem;
        font-weight: 200;
    }

    .social-card {
        display: inline-flex;
        align-items: center;
        padding: 15px;
        background-color: #FBFBFB;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .social-card .t-icon {
        fill: #fff;
    }

    .social-image {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #7377BF;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: 30px;
    }

    .social-text {
        font-size: 1.4rem;
    }

    .social-text .social-title {
        color: #7377BF;
    }

    /*========= New Members & Recent Activity Section ===============*/
    #members-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 0.5fr));
        margin-top: 1.9rem;
        gap: 1px;
        border-top: 1px solid #ddd;
    }

    .column-left {
        padding: 2rem;
        border-right: 1px solid #ddd;
        ;
    }

    .column-left h2 {
        margin-bottom: 2rem;
    }

    .members-container {
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        height: 80px;

    }

    .members-container .profile-image {
        border-radius: 50%;
        height: 35px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .members-text {
        width: 80%;
        color: #333;
    }

    .sub-text {
        display: block;
    }

    .column-right {
        padding: 2rem;
    }

    .column-right h2 {
        margin-bottom: 2rem;
    }

    .recent-container {
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        height: 80px;
    }

    .recent-container .profile-image {
        border-radius: 50%;
        height: 35px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    /*====== Messaging Section ========*/
    .message h3 {
        margin-top: 1.1rem;
    }

    .user-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .user-form .form-field {
        padding: 0.8rem;
        margin: 1.2rem 0;
        outline: none;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: left;
    }

    .user-form .form-area {
        padding: 2.1rem;
        text-align: left;
        outline: none;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    .user-form .button-primary {
        background-color: #7377BF;
        color: #fff;
        padding: 1.1rem;
        border-radius: 5px;
    }

    /*======Recent Section=======*/
    #settings h3 {
        padding: 0.9rem;
    }

    #settings .container {
        margin: 0 1.9rem;
    }

    .switch-light {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }

    .switch-light:first-of-type {
        margin-bottom: 1rem;
    }

    .switch-material.switch-light {
        overflow: visible;
    }

    .switch-material.switch-light::after {
        clear: both;
        content: '';
        display: table;
    }

    .switch-light::after {
        clear: both;
        content: '';
        display: table;
    }

    .switch-light input {
        position: absolute;
        opacity: 0;
        z-index: 3;
    }

    .switch-material.switch-light>span {
        overflow: visible;
        position: relative;
        top: 0.1875em;
        width: 3.25em;
        height: 1.5em;
        min-height: auto;
        border-radius: 1em;
        background: rgba(0, 0, 0, 0.26);
    }

    .switch-light.switch-material a {
        top: -0.1875em;
        width: 1.75em;
        height: 1.75em;
        border-radius: 50%;
        background: #fafafa;
        box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.14), 0 0.1875em 0.125em -0.125em rgba(0, 0, 0, 0.2), 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.12);
        transition: right 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .switch-light a {
        position: absolute;
        right: 50%;
        top: 0;
        z-index: 1;
        display: block;
        width: 50%;
        height: 100%;
        padding: 0;
    }

    .switch-light a {
        display: block;
        transition: all 0.2s ease-out;
    }

    .switch-light.switch-material.switch-light input~span:before,
    .switch-light.switch-material.switch-light input~span:after,
    .switch-material.switch-toggle input+label:after {
        visibility: hidden;
    }

    .switch-light.switch-material>span:before,
    .switch-light.switch-material>span:after,
    .switch-toggle.switch-material label:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: block;
        width: 4em;
        height: 4em;
        border-radius: 100%;
        background: #3f51b5;
        opacity: .4;
        margin-left: -1.25em;
        margin-top: -1.25em;
        transform: scale(0);
        transition: opacity .4s ease-in;
    }

    .timezone-container {
        margin-top: 3rem;
    }

    .timezone-container .dropdown {
        width: 100%;
        outline: none;
        border: 1px solid #ddd;
        padding: 0.5rem;
        color: rgba(167, 154, 154, 0.808);
    }

    .setting-buttons {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;


    }

    .setting-buttons .purple-button {
        width: 50%;
        height: 3rem;
        border-radius: 5px;
        outline: none;
        border: none;
        color: rgb(218, 216, 216);
        background-color: #7377BF;
        cursor: pointer;
    }

    .setting-buttons .gray-button {
        width: 50%;
        height: 3rem;
        margin-left: 7px;
        border: none;
        border-radius: 5px;
        outline: none;
        color: #fff;
        font-weight: 900;
        background-color: rgb(204, 197, 197);
        cursor: pointer;
    }
}